:host {
  display: block;
}

.main-panel {
  background-color: #fff;
  height: 100%;
}

.list-panel {
  background-color: #eee;
}

.iron-selected {
  background-color: #fff !important;
}

.list-panel {
  --paper-menu-focused-item: {
    background-color: #fff !important;
  };
}

.list-panel {
  --paper-menu-selected-item: {
    background-color: #fff !important;
  };
}

paper-toolbar {
  background-color: #356897;
}

paper-dialog {
  left: 10px;
  top: 10px;
  width: 300px;
}

.list {
  padding: 0;
  border-right: 1px solid #ccc;
}

.list paper-item {
  height: 40px;
  border-bottom: 1px solid #dedede;
  background-color: #fafafa;
}

.content {
  padding: 0;
  margin: 0;
}